# ENV holds the environment to use (dev || prod)
ENV=
# KEY holds the token needed to query the API
KEY=
# SERVER_* holds the address of the server hosting the API
SERVER_PROD=http://*.*.*.*/api
SERVER_DEV=http://*.*.*.*/api